//Mobile first
// @media (min-width: 1000px) {

// }

// Desktop first
@media (max-width: 1000px) {
	.container {
		padding: 0 20px;
	}
	.search-btn {
		margin-right: 50px;
	}
	.menu {
		&__link {
		}
		&__item {
			margin-right: 30px;
		}
	}

	.logo {
		height: 60px;
		width: 60px;
		margin-left: 20px;
	}
	.blockquote {
		padding: 120px 0 135px;
	}

	.products {
		&__container {
			padding: 30px 50px 70px;
			max-width: none;
		}
		&__title {
			padding-bottom: 30px;
		}
	}

	.reviews {
		&__container {
			padding: 0 60px;
		}
		&__item {
			&:last-of-type {
				display: none;
			}
		}
	}

	.blog {
		&__container {
			padding-top: 60px;
			padding-bottom: 120px;
		}
		&__items {
			gap: 66px 20px;
		}

		&__img-container {
			width: 180px;
		}
		&__img {
			width: 180px;
		}

		&__item {
			display: flex;
			width: calc(50% - 10px);
		}

		&__item-title {
			max-height: 87px;
			overflow: hidden;
		}
	}

	.email {
		&__container {
			padding-top: 60px;
			padding-bottom: 60px;
		}
		&__title {
			text-align: center;
		}
		&__box {
			flex-direction: column;
			align-items: center;
			padding: 0 90px;
		}
		&__text {
			width: 100%;
			text-align: center;
			margin-bottom: 60px;
		}
		&__form {
			width: 100%;
			max-width: 580px;
		}
	}

	.prioritise {
		&__items {
			flex-wrap: wrap;
			text-align: center;
			display: flex;
			justify-content: space-between;
			gap: 30px 50px;
		}
		&__item {
			width: calc(50% - 35px);
		}

		&__item-title {
			margin: 0 auto 10px;
			max-width: 350px;
			min-height: 66px;
		}
		&__item-descr {
			margin: 0 auto 40px;
			max-width: 350px;
			min-height: 48px;
		}
	}
	.footer {
		&__social-block {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
