//Mobile first
// @media (min-width: 1100px) {

// }

// Desktop first
@media (max-width: 1100px) {
	.menu {
		&__item {
			padding: 48px 10px;
		}
	}

	.logo {
		height: 60px;
		width: 60px;
		margin-left: 20px;
	}

	.blog {
		&__img {
			filter: none;
		}
	}

	// Catalog===================

	.catalog {
		&__item {
			width: 25%;
		}
		&__search-block {
			width: 100%;
			justify-content: center;
		}
	}
	.search {
		width: 50%;
	}
	.search-and-pagination-wrapper {
		flex-direction: column;
		& .cross-search {
			position: relative;
			right: 42px;
		}

		// ==================
	}
	#list-container .pagination {
		width: 100%;
		position: static;
		margin-bottom: 20px;
	}
}
