// Desktop first
@media (max-width: 410px) {
	// Sliders==========================

	.new-item-and-popular-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		// justify-content: space-between;
	}
	.new-items,
	.popular {
		width: 84%;
	}
	.catalog__item-name.name {
		font-size: 16px;
	}
	.catalog__item-price,
	.catalog__item-in-stock-text,
	.catalog__item-not-available-text,
	.catalog__item-btn-buy-text,
	.catalog__item-btn-in-cart-text {
		font-size: 14px;
	}
	.catalog__item-img{
		height: 240px;
	}
.catalog__item-inner-text{
	padding: 6px 6px 10px;
}
	.catalog__item-btn-in-cart,
	.catalog__item-btn-buy {
		padding: 6px 14px;
	}
	// ===================================
}
