//Mobile first
// @media (min-width: 480px) {

// }

// Desktop first
@media (max-width: 480px) {
	.header__container {
		padding: 0 10px;
	}
	.banner {

		&__title {
			font-size: 40px;
		}
		&__inner {
			margin: 0 -10px;
		}
	}
	.blockquote {
		font-family: 'Open Sans';
		font-weight: 300;
		padding: 60px 50px;
		font-size: 16px;
	}
	.logo {
		width: 50px;
		height: 50px;
	}
	.header {
		&__first-row {
			padding: 20px 0;
			min-height: 80px;
		}
	}
	.search-btn{
		margin-right: 35px;
	}

	.products {
		&__container {
			padding: 30px 10px 50px;
		}
		&__title {
			padding-bottom: 20px;
			font-size: 24px;
		}
		&__items{
			gap: 30px 10px 
		}

	}

}
