//Mobile first
// @media (min-width: 480px) {

// }

// Desktop first
@media (max-width: 480px) {
	.header__container {
		padding: 0 10px;
	}
	.banner {
		&__title {
			font-size: 40px;
		}
		&__inner {
			margin: 0 -10px;
		}
	}
	.blockquote {
		font-family: 'Open Sans';
		font-weight: 300;
		padding: 60px 50px;
		font-size: 16px;
	}
	.logo {
		width: 50px;
		height: 50px;
	}
	.header {
		&__first-row {
			padding: 20px 0;
			min-height: 80px;
		}
	}
	.search-btn {
		margin-right: 35px;
	}

	.products {
		&__container {
			padding: 30px 10px 50px;
		}
		&__title {
			padding-bottom: 20px;
			font-size: 24px;
		}
		&__items {
			gap: 30px 10px;
		}
	}

	.reviews {
		&__container {
			padding: 0 10px;
		}
		&__items {
			gap: 30px 20px;
			justify-content: center;
		}
		&__item {
			flex-basis: 280px;
		}
	}

	.blog {
		&__items {
			margin-left: -10px;
			margin-right: -10px;
			flex-direction: column;
			gap: 30px 0;
			padding: 0px;
		}
		&__item {
			display: flex;

			word-break: normal;
			&:nth-of-type(even) {
				align-self: flex-end;
			}
		}
		&__img-container {
			width: 153px;
		}
		&__img {
			height: 153px;
			width: 230px;
		}
	}

	.email {
		&__box {
			padding: 0;
		}
		&__text {
			width: 100%;
			text-align: center;
			margin-bottom: 30px;
			font-size: 13px;
		}
		&__form {
			width: 100%;
			max-width: 580px;
		}
	}
	.prioritise {
		&__items {
			gap: 50px 20px;
		}
		&__item {
			width: 100%;
		}

		&__item-title {
			min-height: 0;
			font-size: 24px;
		}
		&__item-descr {
			min-height: 0;
			font-size: 20px;
		}
	}

	.footer {
		&__main-block {
			justify-content: space-evenly;
		}
		&__contacts {
			min-width: 100%;
			order: 5;
		}
		&__social-block {
			justify-content: center;
			gap: 0 30px;
		}
		&__company {
			text-align: left;
		}
	}
}
