// Desktop first
@media (max-width: 600px) {
	.title {
		margin-bottom: 30px;
	}
	.header__container {
		padding: 0 16px;
	}
	.footer {
		&__social-block {
			padding: 0 10px;
		}
	}
	.catalog {
		&__item-name {
			font-size: 16px;
		}
		&__categories {
			margin-right: -10px;
			margin-left: -10px;
		}
	}

	// Galery===============

	.galery {
		&__item-img {
			height: 50vw;
		}
	}

	// =======================
}
