// Desktop first
@media (max-width: 740px) {
	.catalog__categories {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(2, 1fr);
	}
	.catalog {
		&__item {
			width: 33.33333%;
		}
	}

	// Galery================

	.galery .f-carousel__slide {
		width: calc((100% - 12px) / 3);
		--f-carousel-spacing: 6px;
		margin-right: var(--f-carousel-spacing);
	}

	.galery {
		&__item {
			row-gap: 6px;
		}
	}

	// =======================
}
