//Mobile first
// @media (min-width: 768px) {

// }

// Desktop first
@media (max-width: 768px) {
	.menu {
		display: none;
	}
	.mobile-burger {
		display: block;
	}

	.logo {
		position: absolute;
		top: 15px;
		left: calc(50% - 30px);
		margin-left: 0;
	}
	.header {
		&__first-row {
			min-height: 90px;
		}
	}
	.header__container {
		padding: 0 64px;
	}

	.products {
		&__container {
			padding: 30px 65px 70px;
		}
		&__title {
			padding-bottom: 40px;
		}
		&__items {
			flex-wrap: wrap;
			justify-content: center;
			gap: 40px;
		}
	}

	.reviews {
		&__container {
			padding: 0 30px;
		}
		&__items {
			flex-wrap: wrap;
			gap: 40px 20px;
		}
		&__item {
			&:last-of-type {
				display: block;
			}
			flex-basis: 45%;
		}
	}

	.blog {
		&__items {
			flex-direction: column;
			gap: 30px 0;
			padding: 0px 20px;
		}
		&__item {
			// word-break: break-all;
			display: flex;
			width: 100%;
			max-width: 542px;
			&:nth-of-type(even) {
				align-self: flex-end;
			}
		}
		&__img-container {
			height: 153px;
			width: 230px;
		}

		&__img {
			height: 153px;
			width: 230px;
		}
		&__item-title {
			font-size: 20px;
			max-height: 96px;
		}
	}

	.email {
		&__box {
			padding: 0 10px;
		}
	}

	.prioritise {
		&__item-title {
			font-size: 20px;
			min-height: 81px;
		}
		&__item-descr {
			font-size: 18px;
			min-height: 72px;
			margin-bottom: 20px;
		}
	}

	.footer {
		&__container {
			padding-top: 0;
		}
		&__main-block {
			margin-top: 0;
			flex-wrap: wrap;
		}
		&__social-block {
			padding: 0;
		}
		&__quote {
			order: -1;
			min-width: 100%;
			text-align: center;
			margin-bottom: 50px;
		}
		&__contacts {
			max-width: 45%;
		}
		&__social-block {
			padding-right: 40px;
			padding-left: 40px;
		}
	}
}
