//Mobile first
// @media (min-width: 768px) {

// }

// Desktop first
@media (max-width: 768px) {
	.menu {
		display: none;
	}
	.mobile-burger{
		display: block;
		}

	.logo {
		position: absolute;
		top: 15px;
		left: calc(50% - 30px);
	}
	.header {
&__first-row{
	min-height: 90px;
}
	}
	.header__container{
		padding: 0 64px;
	}


	.products {
		&__container {
			padding: 30px 65px 70px;
		}
		&__title {
			padding-bottom: 40px;
		}
		&__items{
			flex-wrap: wrap;
			justify-content: center;
			gap:40px 
		}
	}



}
