// Desktop first
@media (max-width: 890px) {
	.logo {
		display: none;
	}

	.catalog__categories {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(3, 1fr);
		row-gap: 16px;
		justify-items: center;
	}

// Galery================

.galery .f-carousel__slide {
	width: calc((100% - 20px) / 3);
}

// =======================

}
