html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--color-page-bg);
	color: var(--color-text);
    font-family: var(--font-main);
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}
