.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.shading{
	background-color: rgba(27, 27, 27, 0.877);
}

.title {
	font-size: 40px;
	@extend %font-cormorant-400;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 60px;
}