:root {
	--container-width: 1200px;
	--container-padding: 20px;

	// --font-main: 'Roboto', 'Arial', sans-serif;
	// --font-accent: 'Playfair Display', serif;

	--color-page-bg: #2c8659;
	--color-text: #ffffff;
	--color-accent: #000;
	--color-main: #2b4074;
	--color-secondary: #f7f2ea;
	--color-descr: #9b9b9b;

	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

$color-secondary: #f9f6e5;

$laptop-size: 1199px;
$tablet-size: 959px;
$mobile-size: 599px;

.dark {
	--page-bg-color: #252526;
	--text-color: #fff;
}

%font-open-sans-300 {
	font: {
		family: 'Open Sans';
		weight: 300;
		style: normal;
	}
}

%font-open-sans-400 {
	font: {
		family: 'Open Sans';
		weight: 400;
		style: normal;
	}
}
%font-open-sans-600 {
	font: {
		family: 'Open Sans';
		weight: 600;
		style: normal;
	}
}
%font-open-sans-300-i {
	font: {
		family: 'Open Sans';
		weight: 300;
		style: italic;
	}
}
%font-cormorant-400 {
	font: {
		family: 'Cormorant';
		weight: 400;
		style: normal;
	}
}
%font-cormorant-300-i {
	font: {
		family: 'Cormorant';
		weight: 300;
		style: italic;
	}
}
%font-cormorant-600 {
	font: {
		family: 'Cormorant';
		weight: 600;
		style: normal;
	}
}
