:root {
	--container-width: 1320px;
	--container-padding: 20px;

	--font-main: 'Roboto', 'Arial', sans-serif;
	--font-accent: 'Playfair Display', serif;

	--page-bg-color: #fff;
	--text-color: #4a4a4a;
	--color-accent: #ffcc33;
	--color-main: #2b4074;
	--color-secondary: #f9f6e5;
	--color-descr: #9b9b9b;

	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

$color-secondary: #f9f6e5;

$laptop-size: 1199px;
$tablet-size: 959px;
$mobile-size: 599px;


.dark {
	--page-bg-color: #252526;
	--text-color: #fff;
}

