:root {
	--container-width: 1200px;
	--container-padding: 20px;

	--color-page-bg: #2c8659;
	--color-text: #ffffff;
	--color-accent: #000;
	--color-secondary: #f7f2ea;
	--color-descr: #9b9b9b;

}

@mixin btn-default {
	transition: color 0.3s, background-color 0.3s;
	color: var(--color-page-bg);
	background-color: var(--color-text);
	border: 2px solid var(--color-page-bg);
	@extend %font-open-sans-400;
	&:hover {
		color: var(--color-text);
		background-color: var(--color-page-bg);
		opacity: 0.7;
	}
}

$color-secondary: #f9f6e5;


.dark {
	--page-bg-color: #252526;
	--text-color: #fff;
}

%font-open-sans-300 {
	font: {
		family: 'Open Sans';
		weight: 300;
		style: normal;
	}
}

%font-open-sans-400 {
	font: {
		family: 'Open Sans';
		weight: 400;
		style: normal;
	}
}
%font-open-sans-600 {
	font: {
		family: 'Open Sans';
		weight: 600;
		style: normal;
	}
}
%font-open-sans-300-i {
	font: {
		family: 'Open Sans';
		weight: 300;
		style: italic;
	}
}
%font-cormorant-400 {
	font: {
		family: 'Cormorant';
		weight: 400;
		style: normal;
	}
}
%font-cormorant-300-i {
	font: {
		family: 'Cormorant';
		weight: 300;
		style: italic;
	}
}
%font-cormorant-600 {
	font: {
		family: 'Cormorant';
		weight: 600;
		style: normal;
	}
}
