//Medium Devices, Desktop
@media screen and (min-width: 1024px) {
	.container {
		max-width: 1200px;
		padding: 0 40px;
	}
	.head {
		min-height: 623px;
	}
	.top-slider {
		&__title {
			max-width: 500px;
			padding: 113px 0 42px;
			line-height: 84px;
			font-size: 84px;
			margin-bottom: 0;
			letter-spacing: 2px;
		}
		&__item {
			min-height: 623px;
		}
		&__text {
			margin: 0 auto 12px;
		}
		&__btn {
			margin-bottom: 207px;
		}
	}
	.slick-dots {
		bottom: 85px;
	}
	.callback-block {
		&__box {
			max-width: 536px;
		}
	}

	.service {
		&__inner {
			padding: 52px 0 0 0;
		}
		&__text-block {
			padding: 0 44px;
		}
		&__title {
		}
		&__text {
			margin-top: 61px;
			line-height: 26px;
			&::after {
				margin: 36px 0;
			}
		}
		&__descr {
			max-width: 608px;
			margin-bottom: 32px;
		}
	}
	.service-item {
		width: 25%;
		border-right: solid #f9f6e5 2px;
		&:nth-child(4n) {
			border-right: none;
		}
		&:nth-child(6) {
			border-bottom: none;
		}
		&:nth-child(7) {
			border-bottom: none;
		}
		&__title {
			padding: 0 40px;
		}
	}

	.projects {
		&__items {
			max-width: 900px;
			margin: 80px auto 0;
		}
		&__item-image {
			padding: 15px;
		}
		&__item-title {
			margin-top: 27px;
			font-size: 20px;
		}
	}

}
