.about {
color: var(--color-page-bg);
background-color: var(--color-text);

	&__top-block {
	}
	&__container {

	}
	&__title {
		margin-bottom: 60px;
	}
	&__inner {
	}
	&__subtitle {
		text-align: center;
		@extend %font-open-sans-600;
		font-size: 26px;
		margin-bottom: 40px;
	}
	&__text {
		@extend %font-open-sans-400;
		font-size: 18px;
		padding-bottom: 30px;
		text-align:justify;
	}
	&__bottom-block {
		padding-bottom:60px;
		& .about__text{
			width: 60%;
		}
	}
}
