.banner {
	color: var(--color-text);
	@extend %font-cormorant-600;
	background-image: url('../img/banner.jpg');
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;
	&__wrapper {
		background-image: linear-gradient(#00000000, #000000cc);
	}
	&__btn {
		display: flex;
		justify-content: center;
		margin-bottom: 80px;
	}
	&__link {
		padding: 24px;
		@extend %font-open-sans-300;
		font-size: 28px;
		background-color: var(--color-page-bg);
		color: #fff;
		transition: all 0.3s;
		&:hover {
			background-color: #fff;
			color: var(--color-page-bg);
		}
	}
	&__inner {
		min-height: 600px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	&__title {
		max-width: 900px;
		font-size: 60px;
		margin-bottom: 20px;
		line-height: 1;
	}
	&__descr {
		max-width: 600px;
		font-size: 24px;
		margin-bottom: 50px;
	}
}
.blockquote {
	@extend %font-cormorant-300-i;
	font-size: 40px;
	padding: 150px 0;
	text-align: center;
	max-width: 704px;
	margin: 0 auto;
}
