.banner {
	color: #fff;
	@extend %font-cormorant-400;
	&__wrapper {
		background-image: url('/img/banner.jpg');
		min-height: 600px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

	}
	&__inner {
// margin: 0;
	}
	&__title {
		max-width: 900px;
		font-size: 60px;
	}
	&__descr {
		max-width: 900px;
		font-size: 24px;
	}
}
