.callback-block {
	background-color: var(--color-main);
	&__inner {

		color: #fff;
		text-align: center;
		padding: 40px 20px;
	}
	&__box{
		width: 100%;
	}
	&__title {
		padding: 0 0 10px 0;
		font-family: 'Roboto';
		text-align: center;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 24px;
	}
	&__text {
		padding-bottom: 40px;
		font-family: 'Dosis','Arial',sans-serif ;
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
		line-height: 18px;
		letter-spacing: 1px;
	}
	&__btn {
		color: var(--color-main);
		background-color: var(--color-secondary);
		font-family: Roboto;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 18px;
		padding: 16px;
		border-radius: 3px;
		text-transform: uppercase;
	}
}
