.catalog {
	background-color: var(--color-text);
	padding: 0 20px 40px;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__title {
		color: #000;
	}
	&__categories {
		display: flex;
		justify-content: space-evenly;
		font-size: 20px;
		@extend %font-open-sans-400;
		color: #000;
		margin-bottom: 30px;
	}
	&__categories-item {
	}
	&__categories-link {
		color: #000;
		border: 1px black solid;
		padding: 10px;
		transition: 0.5s all;
		&:hover {
			color: #fff;
			background-color: var(--color-page-bg);
			border: 1px solid var(--color-page-bg);
		}
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		row-gap: 8px;
	}
	&__item {
		animation: fade 0.5s;
		padding-right: 0.2em;
		padding-left: 0.2em;
		width: 16.66666667%;
	}
	&__item-inner {
		text-align: center;
		border: 2px solid var(--color-descr);

		transition: 0.15s;
		&:hover {
			scale: 1.05;
			box-shadow: 0px 16px 56px 5px rgba(0, 0, 0, 1);
		}
	}
	&__item-inner-text {
		padding: 10px 10px 20px;
		background-color: #fff;
	}
	&__item-img-link {
	}
	&__item-img-wrap {
	}
	&__item-img {
		object-fit: cover;
		height: 200px;
		width: 100%;
	}
	&__item-item-name-wrap {
		height: 72px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__item-item-name-link {
	}
	&__item-name {
		@extend %font-open-sans-600;
		color: var(--color-page-bg);
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
		font-size: 18px;
		margin-bottom: 8px;
		margin-top: 6px;
	}
	&__item-price {
		@extend %font-open-sans-400;
		margin-bottom: 10px;
		color: var(--color-page-bg);
	}
	&__item-stock-block {
		color: var(--color-page-bg);
		margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__item-in-stock {
	}
	&__item-in-stock-icon {
	}
	&__item-in-stock-text {
	}
	&__item-not-available {
		display: none;
	}
	&__item-not-available-icon {
	}
	&__item-not-available-text {
	}
	&__item-btn-block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__item-btn-buy {
		background-color: var(--color-page-bg);
		padding: 8px 20px;
		transition: 0.3s;
		&:hover {
			background-color: var(--color-text);
			color: var(--color-page-bg);
			outline: 1px solid var(--color-page-bg);
			box-shadow: 0px 0px 10px 4px var(--color-page-bg);
		}
	}
	&__item-btn-buy-text {
	}
	&__item-btn-buy-icon {
	}
	&__item-btn-in-cart {
		background-color: var(--color-descr);
		padding: 8px 20px;
	}
	&__item-btn-in-cart-text {
	}
	&__item-btn-in-cart-icon {
		color: var(--color-page-bg);
	}
}
#list-container {
}
.search-and-pagination-wrapper {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 16px;
}
.search {
	border: 2px solid var(--color-page-bg);
	border-radius: 21px;
	padding: 4px 12px;
	width: 460px;
	font-size: 20px;
	height: 42px;
	color: var(--color-page-bg);
	&::placeholder {
		color: var(--color-descr);
	}
}
.search-btn.header__tools {
	display: flex;
}
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#list-container .pagination {
	position: absolute;
	left: 0;
	right: 0;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	& li {
		& .page {
			color: var(--color-text);
			background-color: var(--color-page-bg);
			padding: 8px;
			border-radius: 6px;
			padding: 5px 16px;
			margin-right: 4px;
			margin-left: 4px;
		}
	}
}

.fa-regular {
}
.fa-circle-check {
}
.fa-circle-xmark {
}
.fa-solid {
}
.fa-cart-plus {
}
