.email {
	background-image: url('/nursery/img/tea.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	&__container {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	&__title {
		padding-bottom: 50px;
		font-size: 40px;
		@extend %font-cormorant-400;
	}
	&__box {
		@extend %font-open-sans-300;
		display: flex;
		gap: 0 40px;
	}
	&__text {
		line-height: 150%;
		font-size: 20px;
		width: calc(50% - 20px);
	}
	&__form {
		width: calc(50% - 20px);
	}
	&__input {
		position: relative;
		top: 10px;
		margin-right: 25px;
		border-bottom: 1px solid rgb(255, 255, 255);
		width: calc(100% - 150px);
		&::placeholder {
			color: #ffffff65;
		}
	}
	&__btn {
		color: var(--color-page-bg);
		background-color: #fff;
		border: 1px solid gray;
		padding: 12px 36px;
		font-size: 20px;
		margin-bottom: 10px;
	}
	&__label {
		display: flex;
		align-items: start;
	}
	&__checkbox {
		margin-right: 10px;
		margin-top: 3px;
	}
	&__checkbox-descr {
		font-size: 13px;
	}
}
