
.sub-menu,
.sub-menu-service {
	display: none;
	width: max-content;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	font-weight: bold;
	border-top: none;
	z-index: 800;
	border: var(--color-descr) 2px solid;
	border-top: none;
}

.sub-menu__list{
	padding: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.sub-menu__item{


}

.sub-menu__link {
	font-weight: bold;
	padding: 10px;
	background-color: #fff;
	color: var(--color-page-bg);
	transition: all 0.2s;
	&:hover{
		background-color: var(--color-page-bg);
		color:#fff;
	}
	display: block;
	font-size: 14px;
	
	@extend %font-open-sans-400;
}

