.footer {
	padding: 0;
	background-color: #022e21;
	&__container {
		padding: 60px 20px 20px;
		max-width: 1200px;
		margin: 0 auto;
	}
	&__main-block {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
		gap: 0 20px;
	}
	&__products {
		width: 22%;
	}
	&__title {
		@extend %font-cormorant-400;
		font-size: 24px;
		margin-bottom: 50px;
	}
	&__items {
	}
	&__item {
		@extend %font-open-sans-300;
		font-size: 16px;
		margin-bottom: 15px;
	}
	&__link{
		color: #fff;

	}
	&__company {
		width: 22%;
		text-align: right;
	}
	&__quote {
		margin-top: 80px;
		max-width: 269px;
	}
	&__owner-quote {
	}
	&__text {
		@extend %font-open-sans-300-i;
		font-size: 16px;
		margin-bottom: 20px;
	}
	&__author {
		@extend %font-open-sans-300;
		font-size: 12px;
	}
	&__contacts {
		max-width: 22%;
	}
	&__contacts-text {
		@extend %font-open-sans-300;
		font-size: 12px;
		margin-bottom: 20px;
	}
	&__phone-block {
		@extend %font-open-sans-300;
		font-size: 13px;
	}
	&__logo {
	}
	&__phone {
		margin-left: -5px;
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}
	&__phone-img {
	}
	&__phone-text {
		margin-left: 15px;
	}
	&__email {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}
	&__email-img {
	}
	&__email-text {
		margin-left: 10px;
	}
	&__social-block {
		padding: 0 30px;
		display: flex;
		justify-content: space-between;
	}
	&__social-icon {
		height: 25px;
		width: 25px;
	}
	&__bottom-block {
		align-items: center;
		display: flex;
		justify-content: center;
	}
	&__copyright {
		@extend %font-open-sans-300;
		font-size: 16px;
	}
	&__cards {
		flex-shrink: 0;
		margin-left: 30px;
		display: flex;
		gap: 0 20px;
	}
	&__card-img {
		height: 40px;
	}
}

.svg-icons--phone-dims {
	height: 30px;
}
.svg-icons--envelope-dims {
	height: 30px;
}
