.mobile-nav{
}
.header {

	background-color: var(--color-page-bg);

	&__container {
	}
	&__first-row {
		min-height: 90px;
		padding: 30px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.svg-icons--search-dims,
.svg-icons--cart-dims,
.svg-icons--user-dims {
	height: 22px;
	width: 22px;
}

.header {
	&__icons {
		display: flex;
	}
	&__tools{
		margin-right: 16px;
	}
}
.search-btn {
}
.svg-icons--search-dims {
}
.cart-link {
}
.svg-icons--cart-dims {
}
.user-link {
}
.svg-icons--user-dims {
}
.logo-link {
}

.menu {
	// margin-left: 40px;
	// margin-right: auto;
	&__list {
		display: flex;

	}
	&__item {
		margin-right: 70px;
		&:last-child{
			margin-right: 0;
		}
	}
	&__link {
		color: #fff;
		font-size: 18px;
		text-wrap: nowrap;
	}
}

