.header {
	background-color: var(--color-page-bg);
	&__container{

	}
	&__first-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 70px;
	}
}

.svg-icons--search-dims,
.svg-icons--cart-dims,
.svg-icons--user-dims {
	height: 22px;
	width: 22px;
}

.header {
	&__icons {
		display: flex;
		gap: 16px;
	}
}
.search-btn {
}
.svg-icons--search-dims {
}
.cart-link {
}
.svg-icons--cart-dims {
}
.user-link {
}
.svg-icons--user-dims {
}
.logo-link {

	position: absolute;
	left: calc(50% - 25px);
	top: 10px
}
