.header {
	background-color: var(--color-page-bg);

	&__first-row {
		min-height: 90px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__icons {
		display: flex;
		flex-shrink: 0;
	}
	&__tools {
		margin-right: 16px;
	}
}

.svg-icons--search-dims,
.svg-icons--cart-dims,
.svg-icons--user-dims {
	height: 22px;
	width: 22px;
}

.search-icon,
.cart-icon {
	height: 35px;
	width: 35px;
}

.logo-link {
	flex-shrink: 0;
	padding-top: 30px;
	padding-bottom: 30px;
}

.menu {
	height: 100%;
	&__list {
		display: flex;
	}
	&__item {
		padding: 60px 30px;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			background-color: #fff;
			border-left: var(--color-page-bg) 1px solid;
		}
		&:hover .menu__link {
			color: var(--color-page-bg);
		}
	}
	&__link {
		top: 0;
		bottom: 0;
		height: 100%;
		color: #fff;
		font-size: 18px;
		text-wrap: nowrap;
		font-weight: normal;
	}
}
