.mobile-nav {
	&__menu {
		&:has(.mobile-nav--active) {
			z-index: 999;
			transition: all 0.7s;
			position: absolute;
			background-color: rgba($color: #1b1b1b, $alpha: 0.5);
			width: 100vw;
			height: 100vh;
		}
	}
	&__wrapper {
		// transition: translate 0.7s;
	
		z-index: 999;
		background-color: #fff;
		margin: 0 auto;
		left: 0;
		right: 0;
		transform: translate(0, -150%);
		position: absolute;
		width: 100%;
		text-align: center;
		transition: all 0.7s linear;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__top {
		padding: 20px;
		display: flex;
		flex-direction: row-reverse;
	}
	&__close-btn {
	}
	&__list {
		@extend %font-cormorant-400;
		font-size: 24px;
		line-height: normal;
	}
	&__item {
		margin-bottom: 30px;
	}
	&__link {
		color: #000;
	}
	&__list-addi {
		@extend %font-open-sans-300;
		font-size: 14px;
	}
	&__item-addi {
		margin-bottom: 35px;
	}
	&__link-addi {
		color: #000;
	}
	&__icons {
		background-color: var(--color-descr);
		display: flex;
		padding: 20px 80px;
		justify-content: space-between;
	}
	&__search-link {
	}
	&__tools {
	}
	&__cart-link {
	}
	&__user-link {
	}
}
body:has(.mobile-nav--active) {
	overflow-y: hidden;
}
.mobile-nav__wrapper.mobile-nav--active {
	// z-index: 999;
	overflow-y: auto;
	height: 100vh;
	transform: translate(0, 0);
}
.active {
}
.svg-icons--mobile-nav-search-dims,
.svg-icons--mobile-nav-cart-dims,
.svg-icons--mobile-nav-user-dims {
	height: 32px;
	width: 32px;
	background-color: var(--color-page-bg);
	padding: 6px;
	border-radius: 4px;
}
.svg-icons--cross-dims {
	height: 20px;
	width: 20px;
}
