.f-carousel {
	width: 30%;
	padding: 0 20px;
}
.popular__item.f-carousel__slide {
	max-width: calc((100% - 40px) / 2);
	--f-carousel-spacing: 40px;
	margin-right: var(--f-carousel-spacing);
}
.new-items {
	&__container {
	}
	&__title {
		// color: red;
	}
	&__items {
	}
	&__carousel-wrap {
		display: flex;
		justify-content: end;
	}
}
