.new-item-and-popular-wrapper {
	display: flex;
	justify-content: space-between;

}


.new-items,
.popular {
	width: 50%;
}

.f-carousel {
	padding: 0 50px;
}
.popular .f-carousel__slide,
.new-items .f-carousel__slide {
	width: calc((100% - 60px) / 3);
	--f-carousel-spacing: 30px;
	margin-right: var(--f-carousel-spacing);
	.catalog__item-inner {
		&:hover {
			scale: none;
			box-shadow: none;
		}
	}
}
