.new-item-and-popular-wrapper {
	background-color: var(--color-text);
	display: flex;
	justify-content: space-between;
	& .title {
		color: #000;
	}
	& .f-carousel__dots {
		display: none;
	}
}

.new-items,
.popular {
	width: 50%;
	margin-bottom: 40px;
}

.f-carousel {
	padding: 0 50px;
}

.popular .f-carousel__slide,
.new-items .f-carousel__slide {
	width: calc((100% - 60px) / 3);
	--f-carousel-spacing: 30px;
	margin-right: var(--f-carousel-spacing);
	.catalog__item-inner {
		&:hover {
			scale: none;
			box-shadow: none;
		}
	}
}
