.popular {
	background-color: #fff;
	padding: 0 20px 40px;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__title {
		color: #000;
	}
	&__categories {
		display: flex;
		justify-content: space-evenly;
		font-size: 20px;
		@extend %font-open-sans-400;
		color: #000;
		margin-bottom: 30px;
	}
	&__categories-item {
	}
	&__categories-link {
		color: #000;
		border: 1px black solid;
		padding: 10px;
		transition: 0.5s all;
		&:hover {
			color: #fff;
			background-color: var(--color-page-bg);
			border: 1px solid var(--color-page-bg);
		}
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		row-gap: 8px;
	}
	&__item {
		padding-right: 0.2em;
		padding-left: 0.2em;
		width: 16.66666667%;
	}
	&__item-inner {
		background-color: var(--color-page-bg);

		text-align: center;
		border: 1px solid var(--color-descr);

		transition: 0.15s;
		&:hover {
			scale: 1.05;
			box-shadow: 0px 16px 56px 5px rgba(0, 0, 0, 1);
		}
	}
	&__item-inner-text {
		padding: 10px 10px 20px;
	}
	&__item-img-link {
	}
	&__item-img-wrap {
	}
	&__item-img {
		object-fit: cover;
		height: 200px;
		width: 100%;
	}
	&__item-item-name-wrap {
		height: 72px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__item-item-name-link {
	}
	&__item-name {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
		font-size: 18px;
		margin-bottom: 8px;
		margin-top: 6px;
	}
	&__item-price {
		margin-bottom: 10px;
	}
	&__item-stock-block {
		margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__item-in-stock {
	}
	&__item-in-stock-icon {
	}
	&__item-in-stock-text {
	}
	&__item-not-available {
		display: none;
	}
	&__item-not-available-icon {
	}
	&__item-not-available-text {
	}
	&__item-btn-block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__item-btn-buy {
		background-color: var(--color-descr);
		padding: 8px;
	}
	&__item-btn-buy-text {
	}
	&__item-btn-buy-icon {
	}
	&__item-btn-in-cart {
		background-color: var(--color-descr);
		padding: 8px;
		display: none;
	}
	&__item-btn-in-cart-text {
	}
	&__item-btn-in-cart-icon {
	}
}

.fa-regular {
}
.fa-circle-check {
}
.fa-circle-xmark {
}
.fa-solid {
}
.fa-cart-plus {
}
