.prioritise {
	color: var(--color-page-bg);
	background-color: var(--color-text);
	text-align: center;
	&__container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 120px 0;
	}
	&__title {
		margin-bottom: 60px;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		gap: 30px 50px;
	}
	&__item {
	}
	&__item-title {
		margin-bottom: 10px;
	}
	&__item-descr {
		margin-bottom: 40px;
	}
	&__img {
	}
}

.svg-prioritise--prioritise-img-1-dims,
.svg-prioritise--prioritise-img-2-dims,
.svg-prioritise--prioritise-img-3-dims,
.svg-prioritise--prioritise-img-4-dims {
	width: 60px;
	height: 60px;
}
