.projects {
	text-align: center;
	background-image: linear-gradient(180deg, #2b4074 0%, #2b407400 100%);
	&__container {
		padding: 20px 0;
	}
	&__title {
		color: #fff;
		font-family: 'Roboto Condensed';
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: capitalize;
		&::after {
			display: block;
			content: '';
			margin: 20px auto 0;
			height: 8px;
			width: 50px;
			background: #fff;
		}
	}
	&__items {
		margin: 40px 20px 0;
	}
	&__item {
		margin-bottom: 20px;
	}
	&__item-image-link {
	}
	&__item-image {
		margin: 0 auto;
		max-width: 280px;
		border-radius: 4px;
		min-height: 250px; 
		padding: 12px 14px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		&:hover {
			.projects__overlay {
				opacity: 1;
			}
		}
	}
	&__item-title {
		margin-top: 20px;
		font-family: 'Roboto Condensed';
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 2px;
		color: var(--color-main);
	}
	&__overlay {
		min-height: 227px;
		background-color: rgba($color-secondary, 0.83);
		justify-content: center;
		align-items: center;
		gap: 15px;
		display: flex;
		transition: 0.5s;
		opacity: 0;
		border-radius: 4px;
	}
	.info-icon,
	.search-icon {
		height: 34px;
		width: 34px;
	}
}
