.products {
	background-color: #fff;
	text-align: center;
	&__container {
		padding: 60px 0 100px;
		margin: 0 auto;
		max-width: 1200px;
		@extend %font-cormorant-400;
		line-height: normal;
	}
	&__title {
		color: var(--color-accent);
	}
	&__item-name {
		@extend %font-cormorant-600;
		// flex-shrink: 0;
		// position: relative;
		// top: 0;
		// bottom: 0;
		// margin-top: auto;
		// margin-bottom: 0;
		font-size: 24px;
		// display: block;
		color: var(--color-accent);
		// text-wrap: wrap;
		max-width: 136px;
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 40px 20px;
		// justify-content: space-between;
		margin: 0 10px;
		// display: grid;
		// grid-template-columns: repeat(7, 1fr);
		// grid-template-rows: repeat(1, 200px);
		// height: 200px;
		// row-gap: 20px;
		// column-gap: 10px;
	}
	&__item-link{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.svg-icons--leaf-bush-dims,
.svg-icons--rose-dims,
.svg-icons--home-plant-dims,
.svg-icons--leaf-tree-dims,
.svg-icons--conifer-tree-dims,
.svg-icons--fruit-tree-dims,
.svg-icons--palm-tree-dims {
	// height: 100px;
	// max-width: 100px;
	margin-bottom: 20px;
}


// Animation
.rotate-block {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}
.change-img {
	width: 136px;
	height: 150px;
	position: relative;
	// display: flex;
	perspective: 150px;
	justify-content: center;
}
.change-img:hover .front-side-img {
	transform: rotateY(180deg);
}
.change-img:hover .back-side-img {
	transform: rotateY(360deg);
}
/* Стороны изображения */
.front-side-img,
.back-side-img {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
}
.front-side-img img {
	max-width: 100%;
	min-width: 100%;
	height: auto;
  }


.back-side-img img {
	max-width: 100%;
	min-width: 100%;
	height: auto;
	transform: scaleX(-1); /* Отражаем изображение по горизонтали */
}
.back-side-img {
	transform: rotateY(180deg);
}
