.reviews {
	background-color: var(--color-page-bg);
	&__container {
		padding: 0 20px;
		margin: 60px auto;
		max-width: 1200px;
	}
	&__title {
		// font-size: 40px;
		// @extend %font-cormorant-400;
		// text-align: center;
		// margin-bottom: 60px;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		gap:0 20px;
	}
	&__item {
		flex-basis: 280px;
	}
	&__text {
		@extend %font-open-sans-300-i;
		font-size: 16px;
		margin-bottom: 10px;
	}
	&__autor {
		@extend %font-open-sans-600;
		font-size: 20px;
	}
}

