.service {
	&__inner {
		padding: 25px 20px 40px 20px;
	}
	&__text-block {
		text-align: center;
		font-weight: 400;
		font-style: normal;
	}
	&__title {
		color: var(--color-main);
		font-family: 'Roboto Condensed', 'Arial', sans-serif;
		font-size: 24px;
		line-height: normal;
		letter-spacing: 2px;
		&::after {
			content: '';
			display: block;
			width: 100px;
			height: 8px;
			background-color: var(--color-main);
			margin: 20px auto;
		}
	}
	&__text {
		margin: 40px 0 20px;
		font-size: 20px;
		line-height: 24px;
		color: var(--text-color);
	}
	&__descr {
		color: #797979;
		font-size: 15px;
		line-height: 17px;
		margin-bottom: 40px;
	}
	&__items {
	}
	&__items-container {
		border: solid #f9f6e5 2px;
	}
	&__item-wrapper {
		min-height: 274px;
		margin: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}
.service-item {
	border-bottom: solid #f9f6e5 2px;
	&:last-child {
		border-bottom: none;
	}
	&:hover {
		.service-item__btn,
		.service-item__desrc {
			padding-left: 5px;
			padding-right: 5px;
			display: block;
			transition: 0.2s ease;
		}
		.service-item__title {
			transition: 0.2s ease;
			margin-bottom: 40px;
		}
		.service__item-wrapper {
			transition: 0.2s ease;
			border: solid var(--color-main) 4px;
		}
	}
	&__icon {
	}
	&__title {
		text-align: center;
		font-family: 'Roboto Condensed', 'Arial', sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-top: 14px;
	}
	&__desrc {
		text-align: center;
		overflow: hidden;
		display: none;
		color: var(--color-descr);
		font-family: 'Dosis', sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
	}
	&__btn {
		display: none;
		color: var(--color-main);
		margin: 17px 0 20px;
		font-family: Roboto Condensed;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 2px;
	}
}
